[Unit]
Description=PM2 - {{ book_review_pm2_app_name }}
After=network.target

[Service]
Type=forking
User={{ book_review_app_user }}
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=/usr/bin:/usr/local/bin:/home/{{ book_review_app_user }}/.nvm/versions/node/v20*/bin
Environment=PM2_HOME=/home/{{ book_review_app_user }}/.pm2
WorkingDirectory={{ book_review_app_dir }}/{{ backend_files_dir }}
ExecStart=/usr/local/bin/pm2 start src/server.js --name "{{ book_review_pm2_app_name }}"
ExecReload=/usr/local/bin/pm2 reload "{{ book_review_pm2_app_name }}" --update-env
ExecStop=/usr/local/bin/pm2 stop "{{ book_review_pm2_app_name }}"
PIDFile=/home/{{ book_review_app_user }}/.pm2/pm2.pid
Restart=on-failure

[Install]
WantedBy=multi-user.target
